menu
  ul.clearfix
    li(each='{ navItems }', onclick='{ parent.route }') { this.title }

  script.
    this.currentView = riot.routeState.view;
    this.navItems = [
        { title : 'Home', view : 'home'},
        { title : 'Projects', view : 'projects' }
    ];
    this.route = (evt) => {
        riot.route(evt.item.view)
    };

